API_ID = 28572091
API_HASH = 8e0e5b12ad0624ad291422db70ad3098
BOT_TOKEN = 8033347459:AAEDKlXbA9y89SwesEizmqLoc4gybvNumqI
LOG_GROUP_ID = -1002850451600
MONGO_DB_URI = mongodb+srv://mrarya233:PqyVLX3AufQQpMz0@aatma.5frpmsj.mongodb.net/?retryWrites=true&w=majority
OWNER_ID = 6014895515
STRING_SESSION = BQGz-bsASdY2cC3dxKpfyJYBwAE6HIDznrqhERwEcH6HgAEypgU8kZom67aec8VyW72TQFjbrVwsppqgE_nOgI12B0RTxmeMWgFyt7M6ECNkezEUANb5J1UpwWf4y4Uccty8ejgLzhnG0RQ1RN0iyT0ZpgInzBHGujlCyrLEPXzcEKeUQ8nTAbTLskVl7tb2n1VzcGzVYmP5K137-WzI6IKV6Sgk1Yljhv745OaIxSZonVd-HZ-2sT3iI4umAu5S3cjRE7XnBSTtEkfwH5a-dcla0WFue84dpjIO6ydJ0GWTaQaYVDKmBzrZeu2H26IBS83SBHmCekcFg9XsMpEm9o-ViFpSfAAAAAGxStM3AA
STRING_SESSION2 = 

